#############################
# Eclipse
#############################
.classpath
.project
.settings/

#############################
# Build output
#############################
bin/
build/
out/
target/

#############################
# IntelliJ / VSCode (por si acaso)
#############################
.idea/
*.iml
.vscode/

#############################
# Sistema operativo / varios
#############################
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

#############################
# Compilados Java
#############################
*.class
*.jar
*.war
*.ear

#############################
# Backups
#############################
*~
*.bak
